<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTable cheques-data">
        <thead>
            <tr>
                <th>Check #</th>
                <th>Check # link</th>
                <th id="jbstatus">Status</th>
                <th>Status Date</th>
                <th>Import Date</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Amount link</th>
                <th>Payee</th>
            </tr>
        </thead>
        <tbody>
        {% for o in objs %}
            <tr>
            <td>
                <a href="{% url 'cheque_detail' o.jbchkno %}">{{o.jbchkno}}</a>
            </td>
            <td>{{o.jbchknolnk}}</td>
            <td>{{o.jbstatus}}</td>
            <td>{{o.jbstatus_date}}</td>
            <td>{{o.jbimprt_date}}</td>
            <td>{{o.jbaccount}}</td>
            <td>{{o.jbamount}}</td>
            <td>{{o.jbamountlnk}}</td>
            <td>{{o.jbpayee}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Check #</th>
                <th>Check # link</th>
                <th id="jbstatus">Status</th>
                <th>Status Date</th>
                <th>Import Date</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Amount link</th>
                <th>Payee</th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- /.table-responsive -->
