{% extends "base.html" %}
{% block extra_javascript %}
<script>
    $(function() {
    });
</script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detailed Information
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                Cheque Number: {{cheque.jbchkno|default:"&nbsp;"}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" id="cheques-data-panel">
                    <dl class="dl-horizontal">
                        <dt> Status </dt>
                        <dd> {{cheque.jbstatus|default:"&nbsp;"}} </dd>
                        <dt> Status date </dt>
                        <dd> {{cheque.jbstatus_date|default:"&nbsp;"}} </dd>
                        <dt> Import date </dt>
                        <dd> {{cheque.jbimprt_date|default:"&nbsp;"}} </dd>
                        <dt> Action </dt>
                        <dd> {{cheque.jbaction|default:"&nbsp;"}} </dd>
                        <dt> Account </dt>
                        <dd> {{cheque.jbaccount|default:"&nbsp;"}} </dd>
                        <dt> Amount </dt>
                        <dd> ${{cheque.jbamount|default:"&nbsp;"}} </dd>
                        <dt> Issue date </dt>
                        <dd> {{cheque.jbissue_date|default:"&nbsp;"}} </dd>
                        <dt> Posted date </dt>
                        <dd> {{cheque.jbpostd_dat|default:"&nbsp;"}} </dd>
                        <dt> Payee </dt>
                        <dd> {{cheque.jbpayee|default:"&nbsp;"}} </dd>
                        <dt> Sequence number </dt>
                        <dd> {{cheque.jbseqno|default:"&nbsp;"}} </dd>
                    </dl>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock content %}
