{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Data Information
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form id="cheques-toggle" class="form-inline" method="post"
                        role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Show checks with status</label>
                            <select name="status" class="form-control">
                                {% for c in codes %}
                                    <option value="{{c}}"
                                        {% if c == status %}selected{% endif %}>
                                        {{c}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" id="cheques-data-panel">
                    {% include "data.inc.html" %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock content %}
