<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="cheques-data">
        <thead>
            <tr>
                <th>Check #</th>
                <th id="jbstatus">Status</th>
                <th>Status Date</th>
                <th>Import Date</th>
                <th id="jbaction">Action</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Issued</th>
                <th>Posted</th>
                <th>Payee</th>
                <th>Sequence #</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>Check #</th>
                <th>Status</th>
                <th>Status Date</th>
                <th>Import Date</th>
                <th>Action</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Issued</th>
                <th>Posted</th>
                <th>Payee</th>
                <th>Sequence #</th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- /.table-responsive -->
