{% extends "base.html" %}
{% block title %}
    Reconciliation &mdash; DJ Czech &mdash;
    Carthage College
{% endblock %}
{% block extra_javascript %}
    <script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
        type="text/javascript" charset="utf-8"></script>
    <script src="//www.carthage.edu/static/vendor/js/spin.min.js"
        type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            /* spinner */
            var opts = {
                lines: 13, // The number of lines to draw
                length: 20, // The length of each line
                width: 10, // The line thickness
                radius: 30, // The radius of the inner circle
                corners: 1, // Corner roundness (0..1)
                rotate: 0, // The rotation offset
                direction: 1, // 1: clockwise, -1: counterclockwise
                color: '#000', // #rgb or #rrggbb or array of colors
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false, // Whether to use hardware acceleration
                className: 'search-results', // The CSS class to assign to spinner
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                top: '50px', // Top position relative to parent in px
                left: 'auto' // Left position relative to parent in px
            };
            var target = document.getElementById("profile");
            var spinner = new Spinner(opts).spin(target);
            spinner.stop(target);

            $("#id_import_date").datepicker({
                firstDay:1,appendText:"(format yyyy-mm-dd)",
                changeFirstDay:false,dateFormat:"yy-mm-dd",
                showOn:"both",
                buttonImage:"//www.carthage.edu/themes/shared/img/ico/calendar.gif",
                buttonImageOnly:true
            });
            $("#id_submit").click(function () {
                // disable submit button after user clicks it
                $(this).attr('disabled', 'disabled');
                spinner.spin(target);
            });
        });
    </script>
{% endblock %}
{% block content %}
<div class="forms-container large-8 medium-10 small-12">
    {% include "includes/generic_form_multi.html" %}
</div>
<div class="column2 large-4 medium-6 small-12">
    {% if django_debug %}
    <h2>Earl</h2>
    {{earl}}
    {% endif %}
</div>
{% endblock %}
