{% extends "base.html" %}
{% block title %}
    Reconciliation &mdash; DJ Czech &mdash;
    Carthage College
{% endblock %}
{% block left_nav %}
    {% include "left_nav.html" %}
{% endblock %}
{% block sidebar %}
    {% include "side_bar.html" %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        DJ Czech
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container large-8 medium-10 small-12">
    {% include "includes/generic_form_multi.html" %}
</div>
<div class="column2 large-4 medium-6 small-12">
    {% include "reconciliation/cheque/help_text.html" %}
</div>
{% endblock %}
